{% extends "Juego/top.html" %}
{% block content %}
<h4>{{ object.player1}} vs {{ object.player2}}</h4>
<h4>{{ object.score1}} - {{ object.score2}}</h4>

{% if object.serving %}
<h4>serving: {{ object.player2 }}</h4>
{% else %}
<h4>serving: {{ object.player1 }}</h4>
{% endif %}

{% if not object.finished %}
<h1>-------------</h1>
<form action="{% url 'addP' object.id 0 %}" method='GET'>
    {% csrf_token %}
    <button type='submit'> Add point to player 1 </button>
</form>
<h1>-------------</h1>
<form action="{% url 'addP' object.id 1 %}" method='GET'>
    {% csrf_token %}
    <button type='submit'> Add point to player 2 </button>
</form>

{% endif%}
{% endblock content %}