<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>PingPong</title>
    {% load static %}
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'css\estilo.css' %}" media="screen">
</head>

<body>
    <header>
        <nav>
            <ul>
                <li><a href="{% url 'new_game' %}"><span>New Game</span></a></li>
                <li><a href="{% url 'Juegos' %}"><span>Games</span></a></li>
                <li><a href="{% url 'leaderboard' %}"><span>Leaderboard</span></a></li>
            </ul>
        </nav>
    </header>
    <div class="contenedor">
        {% if messages %}
        {% for message in messages %}
        <div class="alert alert-{{message.tags}}">
            {{ message }}
        </div>
        {% endfor %}
        {% endif %}
        {% block content %}
        {% endblock %}
    </div>

    </div>
</body>

</html>